<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фільтр таблиці</title>
    <style>
        /* Ваші існуючі стилі */
    </style>
</head>
<body>
<button class="my-orders-btn" onclick="window.location.href='User_Order.html'">Мої замовлення</button>
<h2>Замовлення</h2>
<label for="trainingDate">Дата заняття:</label>
<form id="myForm">
    <input type="date" id="trainingDate" name="trainingDate" th:value="${currentDay}">
    <button id="loadButton" type="submit">Показати</button>
</form>

<label for="filter">Виберіть назву:</label>
<select id="filter">
    <option value="0">Всі</option>
    <option th:each="service, iterStat : ${services}" th:value="${service.key}" th:text="${service.value.getFirst().getName()}"></option>
</select>

<br><br>

<div th:each="record, iterStat : ${scheduleRecords}">
    <img th:src="@{'/src/img/'+${record.getCoach().imgName}}" style="width:100px"/>
    <h3 th:text="${record.getCoach().getFullName()}">ПІБ тренера</h3>
    <table>
        <thead>
        <tr>
            <th>Рядок</th>
            <th>Час відвідування</th>
            <th>Назва</th>
            <th>Запис</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, schedStat : ${record.getSchedule()}" th:type="${item.getService()}">
            <td th:text="${schedStat.count}"></td>
            <td th:text="${item.getTime()}">09:00</td>
            <td th:text="${services.get(item.getService()).getFirst().getName()}"></td>
            <td th:text="${item.getQuantity()}"></td>
            <td>
                <form action="/user/sign_up_item" method="post">
                    <input type="hidden" name="scheduleItemId" th:value="${item.getId()}" />
                    <input type="submit" value="Запис" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>

<script>
    document.getElementById("filter").addEventListener("change", function() {
        var value = parseInt(this.value);
        var tables = document.getElementsByTagName("table");
        for (var j = 0; j < tables.length; j++) {
            var rows = tables[j].getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                rows[i].style.display = "";
                if (value == 0) continue;
                if (rows[i].getAttribute("type") != value) {
                    rows[i].style.display = "none";
                }
            }
        }
    });
</script>
</body>
</html>
