<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фільтр таблиці</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Розклад</h2>

<label for="trainingdate">Дата:</label>
<input type="date" id="trainingdate" name="trainingdate" min="2024-04-30">
<table>
    <thead>
    <tr>
        <th>Рядок</th>
        <th>Дата</th>
        <th>Час</th>
        <th>Назва</th>
        <th>Кількість</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record, iterStat : ${coachScheduleRecords}">
        <td th:text="${iterStat.index+1}">1</td>
        <td th:text="${record.getDate()}">28.04.2024</td>
        <td th:text="${record.time}">10:00</td>
        <td th:text="${record.service}">Mata</td>
        <td th:text="${record.quantity}">5</td>
    </tr>


    </tbody>
</table>



</body>
</html>
