<!DOCTYPE html>
<html data-bs-theme="light" lang="uk"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Services - Tilo</title>
</head>

<body>
<section class="page-section" th:each="service, iterStat : ${services}">
                <div>
                    <h2  th:utext="${service.shortDescription}">Занурення у Глибини Тіла та Душі:<span th:utext="${service.name}">ХАТХА-ЙОГА</span></h2>
                </div><img alt="" src="src/img/yoga1.png" th:src="@{'src/img/'+${service.imgName}}">
                <p class="mb-0" th:utext="${service.description}">Основною метою хатха-йоги є досягнення гармонії між тілом і розумом&nbsp;шляхом очищення і зміцнення тіла, розвитку внутрішньої концентрації та&nbsp;спокою. Це досягається через різноманітні фізичні та дихальні вправи,&nbsp;які допомагають підготувати тіло і розум до більш високих стадій&nbsp;медитації. Практики хатха-йоги можуть включати асани (пози), пранаями&nbsp;(дихальні техніки), мудри (ритуальні жести або пози рук), бандхи <br>(енергетичні затиснення), а також широкий спектр технік релаксації та&nbsp;концентрації.</p>
</section>
</body>

</html>